body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: black;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: yellow;
}

section {
    padding: 40px;
    text-align: center;
}

