body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
}

.box {
    background-color: white;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

button:hover {
    background-color: green;
}
