body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.product-card {
    background-color: white;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.price {
    color: green;
    font-size: 22px;
    font-weight: bold;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: green;
}
