body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

form {
    background-color: white;
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

button:hover {
    background-color: green;
}
