body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 25px;
}

section {
    background-color: white;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #333;
}
